.description {
  padding: 4vh 10vw;
  text-align: center;
  color: #969696;
  font-size: 13px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 16px;
}
